body {
  padding: 20px;
  background: #729ae9;
  color: white;
};

h1 {
  margin-top: 30px;
}

.nav-list {
  list-style: none;
   display: flex;
  flex-direction: row;
  gap: 16px;
  margin-right: 5px;

}

.list {
  display: flex;
  flex-direction: row;
   margin-right: 5px;
}


.header-list {
  display: flex;
  flex-direction: row;
}

.imgLogo {
  width: 80px;
}